.about-container {
  padding: 50px;
  background-color: #4e4b4b;
}

.about-content {
  display: flex;
  align-items: center;
}

.about-text {
  flex: 1;
  padding-right: 20px;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #f3f3f3;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #bebebe;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
